/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #707070;
  border-color: #707070;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

.l-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF7EF;
  height: 170px;
  padding-left: 51px;
  padding-right: 24px;
}

@media screen and (max-width: 959px) {
  .l-header {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0 0;
  }
}

.c-header-logo {
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 959px) {
  .c-header-logo {
    padding-top: 4rem;
    font-size: 30px;
  }
}

.p-search {
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 959px) {
  .p-search {
    padding: 3.8rem 0;
  }
}

.p-search__form {
  height: inherit;
  width: 311px;
  margin-right: 11px;
  border-radius: 10px;
  padding: 5px;
}

.p-search__button {
  height: inherit;
  padding: 5px 40px;
  border-radius: 10px;
  font-family: "M +1m", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#F2EDE9), to(#DED8D3));
  background: -webkit-linear-gradient(#F2EDE9, #DED8D3);
  background: linear-gradient(#F2EDE9, #DED8D3);
}

.p-hero {
  height: 53rem;
  padding-left: 6.8rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../../img/hero_bg1.png");
  background-size: cover;
  background-position: center right;
}

@media screen and (max-width: 959px) {
  .p-hero {
    height: 28.5rem;
  }
}

@media screen and (max-width: 559px) {
  .p-hero {
    padding-left: 2rem;
    background-position: center center;
    background-size: auto 100%;
  }
}

.c-ttl {
  font-size: 47px;
  font-weight: bold;
  color: #FFF;
}

@media screen and (max-width: 559px) {
  .c-ttl {
    font-size: 24px;
  }
}

.l-contents {
  background-color: #FFFDFA;
  padding: 0 87px;
}

@media screen and (max-width: 959px) {
  .l-contents {
    padding: 0 40px;
  }
}

@media screen and (max-width: 559px) {
  .l-contents {
    padding: 0 20px;
  }
}

.p-card {
  position: relative;
  width: 50%;
  height: 940px;
  background-size: cover;
}

.p-card__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 94px;
  margin-bottom: 100px;
}

@media screen and (max-width: 959px) {
  .p-card__wrapper {
    padding-top: 31px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 559px) {
  .p-card__wrapper {
    padding-top: 16px;
    display: block;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 959px) {
  .p-card {
    height: 940px;
  }
}

@media screen and (max-width: 559px) {
  .p-card {
    height: 725px;
    width: 100%;
    margin-bottom: 16px;
  }
}

.p-card--take-out {
  background-image: url(./../../../img/card_bg1.png);
  margin-right: 30px;
}

@media screen and (max-width: 959px) {
  .p-card--take-out {
    margin-right: 16px;
  }
}

@media screen and (max-width: 559px) {
  .p-card--take-out {
    margin-right: 0;
  }
}

.p-card--eat-in {
  background-image: url(./../../../img/card_bg2.png);
  margin-left: 30px;
}

@media screen and (max-width: 959px) {
  .p-card--eat-in {
    margin-left: 16px;
  }
}

@media screen and (max-width: 559px) {
  .p-card--eat-in {
    margin-left: 0;
  }
}

.p-card__ttl {
  font-size: 63px;
  padding: 20px;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.p-card__ttl::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 50px;
  border-bottom: solid 7px #FFF;
}

@media screen and (max-width: 959px) {
  .p-card__ttl {
    font-size: 38px;
    padding: 12px;
  }
}

@media screen and (max-width: 559px) {
  .p-card__ttl {
    font-size: 32px;
    padding: 10px;
  }
}

.p-card__description {
  position: absolute;
  bottom: 0;
  left: 0;
}

.p-card__sub-wrapper {
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px;
}

@media screen and (max-width: 959px) {
  .p-card__sub-wrapper {
    margin: 12px;
  }
}

.p-card__sub-ttl {
  font-size: 24px;
  padding: 15px;
}

.p-card__sub-description {
  font-size: 16px;
  padding: 15px;
  padding-bottom: 22px;
}
/*# sourceMappingURL=style.css.map */