.p-card {
    
    &__wrapper {
        display: flex;
        padding-top: 94px;
        margin-bottom: 100px;
        @include mq() {
            padding-top: 31px;
            margin-bottom: 30px;
        }
        @include mq(sm) {
            padding-top: 16px;
            display: block;
            margin-bottom: 40px;
        }
    }
    
    position: relative;
    width: 50%;
    height: $card-height;
    background-size: cover;
    @include mq() {
        height: $card-responsive-height;
    }
    @include mq(sm) {
        height: $card-responsive-sm-height;
        width: 100%;
        margin-bottom: 16px;
    }

    &--take-out {
        background-image: url(./../../../img/card_bg1.png);
        margin-right: 30px;
        @include mq() {
            margin-right: 16px;
        }
        @include mq(sm) {
            margin-right: 0;
        }
    }
    &--eat-in {
        background-image: url(./../../../img/card_bg2.png);
        margin-left: 30px;
        @include mq() {
            margin-left: 16px;
        }
        @include mq(sm) {
            margin-left: 0;
        }
    }
    
    &__ttl {
        font-size: 63px;
        padding: 20px;
        color: $font-color-brand;
        font-weight: bold;
        display: inline-block;
        position: relative;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -15px;
            left: 20px;
            width: 50px;
            border-bottom: solid 7px $border-color-brand;
        }
        @include mq() {
            font-size: 38px;
            padding: 12px;
        }
        @include mq(sm) {
            font-size: 32px;
            padding: 10px;
        }
    }
    &__description {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__sub {
        &-wrapper {
            padding-left: 15px;
            background-color: rgba(255,255,255,0.7);
            margin: 20px;
            @include mq() {
                margin: 12px;
            }
        }
        &-ttl {
            font-size: 24px;
            padding: 15px;
        }
        &-description {
            font-size: 16px;
            padding: 15px;
            padding-bottom: 22px;
        }
    }
}