.p-hero {
    font-weight: bold;
    height: $hero-height;
    padding-left: 4.47vw;
    display: flex;
    align-items: center;
    background-image: url("../../../img/hero_bg1.png");
    background-size: cover;
    @include mq() {
        padding-left: 10.31vw;
        height: $hero-responsive-height;
    }
    @include mq(sm) {
        padding-left: 6.66vw;
        background-image: url("../../../img/hero_bg1-sm.png");
        height: $hero-responsive-sm-height;
    }
}