.p-hero {
    height: $hero-height;
    padding-left: 6.8rem;
    display: flex;
    align-items: center;
    background-image: url("../../../img/hero_bg1.png");
    background-size: cover;
    background-position: center right;
    @include mq() {
        height: $hero-responsive-height;
    }
    @include mq(sm) {
        padding-left: 2rem;
        background-position: center center;
        background-size: auto 100%;
    }
}